* {
	box-sizing: border-box;
	background-color: grey;
}

.wrapper {
	max-width: 1160px;
	min-width: 100%;
	background-color: bisque;
}

.first {
	margin-left: 450px;
	font-size: 32px;
	font-weight: bold;
}

img {
	border: 1px solid orange;
	width: 500px;
}



hr {
	border: 1px solid orange;
}

.orderbox {
	width: 550px;
	height: 550px;
	margin-left: 600px;
	margin-top: -340px;
}

h2 {
	font-family: "Arial";
	font-style: normal;
}

#bag-div {
	max-height: 300px;
	overflow-y: scroll;
}

.order {
	font-size: 24px;
	margin-left: 5px;
	font-style: oblique;
	font-weight: bold;
	min-height: 200px;
}


#submit {
	height: 50px;
	margin-left: 190px;
	color: white;
	background-color: rgb(7, 194, 178);
	border-radius: 50px;
	width: 150px;
	height: 50px;
	font-size: 16px;
	cursor: pointer;
}

#book_list {
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.book-self {
	width: 500px;
	height: 500px;
	padding-left: 100px;
}

.author-self {
	font-size: 24px;
	font-weight: bold;
	width: 350px;
}

.title-self {
	font-size: 16px;
	font-weight: bold;
	width: 350px;
}

.img-self {
	width: 200px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;

}

.img-self:hover {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
}

.description-popup {
	font-size: 14px;
	margin-top: 5px;
	padding: 5px;
	width: 350px;
}

.self-price {
	font-size: 14px;
	padding: 5px;
	margin-top: 5px;
}

.close-popup {
	height: 50px;
	width: 50px;
	border: none;
    cursor: pointer;
}

.popup_bg {
	visibility: hidden;
    position: absolute;
    width: 180px;
    height: fit-content;
    background: rgba(34, 200, 230, 0.5);
    pointer-events: none;
}

.popup_bg.active {
    visibility: visible;
}

.popup .active {
	visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.show-more-open {
	position: relative;
	display: inline-block;
}

.show-more-popup {
	position: absolute;
	visibility: hidden;
	width: 200px;
	height: fit-content;
	min-height: 100px;
	background-color: rgb(7, 194, 178);
	padding: 5px;
	left: 20%;
	bottom: 120%;
}

.show-more-open .active {
	visibility: visible;
	-webkit-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.show-more-body {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	padding-top: 20px;
}

.show-more-close {
	cursor: pointer;
	position: absolute;
	background: url("img/icon.png");
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	top: 0;
	right: 0;
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

#add-to-bag {
	margin-left: 30px;
	width: 90px;
}

.delete_item {
	position: absolute;
	margin-top: 50px;
	margin-left: -200px;
}

.plus_button {
	position: absolute;
	margin-top: 50px;
	margin-left: 75px;
}

.minus_button {
	position: absolute;
	margin-top: 50px;
	margin-left: 40px;
}

#bag {
	position: absolute;
	margin-left: -200px;
	margin-top: 50px;
}

#delete-from-bag {
	margin-left: 380px;
	color: red;
}






